.zoom {
animation-duration: {{animeDuration}}s;
animation-name: hypeTrain;
_animation-timing-function: linear;
animation-timing-function: {{cubicBezier}};
}

.inactive {
    display: none;
}

#sprite {
    margin: auto;
    position: relative;
}

@keyframes hypeTrain {
    from {
transform: scale({{scaleStart}});
opacity: {{opacityStart}};
top: {{posStart}};
}
{{percentFadeOut}}% {
opacity: {{opacityStart}};
}
to {
transform: scale({{scaleStop}});
opacity: {{opacityStop}};
top: {{posStop}};
}
}
